---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { getEntryBySlug } from "astro:content";

// Fetch contact data
const contactData = await getEntryBySlug("contact", "contact");
const { title, description } = contactData.data;
---

<Layout title={title}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">{title}</Fragment>
      <Fragment slot="desc">{description}</Fragment>
    </Sectionhead>

    <div>
      <div data-tf-live="01JNG712FY7EG5XWECA8EJ335F"></div>
      <script is:inline src="//embed.typeform.com/next/embed.js"></script>
    </div>
  </Container>
</Layout>
