---
import { getEntryBySlug } from "astro:content";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

// Fetch thank-you page content
const pageData = await getEntryBySlug("thank-you", "thank-you");
const { title, heading, description } = pageData.data;
---

<Layout title={title}>
  <Container>
    <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
      <div class="mt-16 text-center">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
          {heading}
        </h1>
        <p class="text-lg mt-4 text-slate-600">{description}</p>
      </div>
    </div>
  </Container>
</Layout>
