---
import { getEntryBySlug } from "astro:content";

const { data } = await getEntryBySlug("components", "components");
const footer = data.footer;
const currentYear = new Date().getFullYear();
---

<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    {footer.text.replace("{year}", currentYear)}
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href={footer.credits.url}
      target="_blank"
      rel="noopener"
      class="hover:underline">{footer.credits.text}</a
    >
  </p>
</footer>
